// 訂閱 email
.subscribe-bg {
    height: 400px;
    background: url(https://images.unsplash.com/photo-1565193566173-7a0ee3dbe261?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat center center;
    background-size: cover;
}

.subscribe-email {
    width: 70%;
    background-color: transparent;
    border: 1px solid #FFFFFF99;
}
::placeholder {
    color: #fff;

}

// footer
.footer {
    height: 93px;
    background-color: #121212;
}